{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-unresolved": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
